body {
    margin: 0;
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
{
    background-image: url('../images/scanlines.png');
    background-size: cover; /* Ajuste la taille de l'image */
    /* ... autres styles ... */
}
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2em;
}

.hidden {
    display: none;
}

.terminal-window {
    border: 1px solid green;
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 0 10px lime;
}

.banner {
    margin-top: 20px;
}

.index {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: lime;
    border: 1px solid lime;
    padding: 5px;
}

.index:hover {
    background-color: lime;
    color: black;
}
